include README.md
include LICENSE
recursive-include src/*
include forestdb.pyx
include tests.py
recursive-include docs *

global-exclude *.pyc
global-exclude *.o
global-exclude *.so.0.1
global-exclude *.so
